<div  class="mb-3 mt-3 fw-normal container-md">

  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button class="btn btn-primary btn-sm" [routerLink]="'/menu-consultar'">Regresar</button>
  </div> 
  <h1 class="h3">Consultar {{tipo}}</h1>
   
  <div  *ngIf="tipo==='mesabancos' || tipo==='estanterias' || tipo==='sillas' || tipo==='escritorios' || tipo==='pizarrones'|| tipo==='mesas' || tipo==='lonas' || tipo==='dispensadores'" class="table-responsive mt-4 container-md mx-auto">
  <!-- <button type="button" class="btn btn-outline-primary" (click)="crearPdf()">decargar pdf</button> -->
  <table  class="table table-bordered table-striped" >
    <thead class="table-dark">
      <tr>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Caracteristicas</th>
        <th>Costo</th>
        <th>Edificio</th>
        <th>Lugar_edificio</th>
        <th>Qr</th>
        <th>Garantia</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let consult of consultam">
        <td>{{ consult.nombre }}</td>
        <td>{{ consult.marca }}</td>
        <td>{{ consult.caracteristicas }}</td>
        <td>{{ consult.costo | currency }}</td>
        <td>{{ consult.edificio }}</td>
        <td>{{ consult.lugar_edificio }}</td>
        <td><button [routerLink]="['/generarQr/', consult.id]" *ngIf="consult.foto === '' || consult.foto === undefined || consult.foto === null; else descargarQr" class="btn btn-success btn-sm">
             Generar qr
            </button>
            <ng-template #descargarQr> <a class="btn btn-success btn-sm" type="image/png" target="_blank" rel="noopener" href="{{consult.foto}}" download>
                 Visualizar Qr
                 </a>
            </ng-template>
             <!-- <ng-template #descargarQr><a href="{{consult.foto}}" download><img class="btn" src="{{consult.foto}}" download></a></ng-template>  -->
            <!-- [href]="consult.foto" -->
        </td>
        <td>
          <button [routerLink]="['/garantia/', consult.id, 'Registrar']" *ngIf="consult.garantia == 'sin subir' || consult.garantia == null" class="btn btn-success btn-sm"
          >
            registrar
          </button>
          <button [routerLink]="['/garantia/', consult.id,'Ver']" *ngIf="consult.garantia == 'registrada'" class="btn btn-success btn-sm">
            Ver garantia
          </button>
        </td>
        <td>{{consult.estado}}</td>
        <td>
          <div class="row g-2">
            <div class="col-md">
              <button
                class="btn btn-success btn-sm"
                [routerLink]="['/editar-articulo/', consult.id, consult.tipo]"
              >
                editar
              </button>
            </div>
            <div class="col-md">
              <button
                class="btn btn-danger btn-sm"
                (click)="eliminar(consult.id)"
              >
                eliminar
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  </div>

  <div *ngIf="tipo==='computadoras'" class="table-responsive mt-4 container-md mx-auto">
  <table class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th>PlacaMadre</th>
        <th>Procesador</th>
        <th>DiscoDuro</th>
        <th>Ram</th>
        <th>SO</th>
        <th>Costo</th>
        <th>Edificio</th>
        <th>Lugar_edificio</th>
        <th>Qr</th>
        <th>Garantia</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let consult of consultarc">
        <td>{{ consult.PlacaMadre }}</td>
        <td>{{ consult.Procesador }}</td>
        <td>{{ consult.DiscoDuro }}</td>
        <td>{{ consult.Ram }}</td>
        <td>{{ consult.SO }}</td>
        <td>{{ consult.costo | currency }}</td>
        <td>{{ consult.edificio }}</td>
        <td>{{ consult.lugar_edificio }}</td>
        <td>
          <button [routerLink]="['/generarQr/', consult.id]" *ngIf="consult.foto === '' || consult.foto === undefined || consult.foto === null; else descargarQr" class="btn btn-success btn-sm">
            Generar qr
           </button>
           <ng-template #descargarQr> <a class="btn btn-success btn-sm" target="_blank" href="{{consult.foto}}" >
             Visualizar Qr
            </a></ng-template>
        </td>
        <td>
          <button
            [routerLink]="['/garantia/', consult.id, 'Registrar']"
            *ngIf="consult.garantia == 'sin subir' || consult.garantia == null"
            class="btn btn-success btn-sm"
          >
            registrar
          </button>
          <button
          [routerLink]="['/garantia/', consult.id,'Ver']"
            *ngIf="consult.garantia == 'registrada'"
            class="btn btn-success btn-sm"
          >
            Ver garantia
          </button>
        </td>
        <td>{{consult.estado}}</td>
        <td>
          <div class="row g-2">
            <div class="col-md">
              <button
                class="btn btn-success btn-sm"
                [routerLink]="['/editar-articulo/', consult.id, consult.tipo]"
              >
                editar
              </button>
            </div>
            <div class="col-md">
              <button
                class="btn btn-danger btn-sm"
                (click)="eliminar(consult.id)"
              >
                eliminar
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  </div>

  <div *ngIf="tipo==='monitores'" class="table-responsive mt-4 container-md mx-auto">
  <table class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Tipoentrada</th>
        <th>Costo</th>
        <th>Edificio</th>
        <th>Lugar_edificio</th>
        <th>Qr</th>
        <th>Garantia</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let consult of consultamon">
        <td>{{ consult.nombre }}</td>
        <td>{{ consult.marca }}</td>
        <td>{{ consult.tipoentrada }}</td>
        <td>{{ consult.costo | currency }}</td>
        <td>{{ consult.edificio }}</td>
        <td>{{ consult.lugar_edificio }}</td>
        <td>
          <button [routerLink]="['/generarQr/', consult.id]" *ngIf="consult.foto === '' || consult.foto === undefined || consult.foto === null; else descargarQr" class="btn btn-success btn-sm">
            Generar qr
           </button>
           <ng-template #descargarQr> <a class="btn btn-success btn-sm" target="_blank" href="{{consult.foto}}" >
             Visualizar Qr
            </a></ng-template>
        </td>
        <td>
          <button
          [routerLink]="['/garantia/', consult.id, 'Registrar']"
          *ngIf="consult.garantia == 'sin subir' || consult.garantia == null"
          class="btn btn-success btn-sm"
        >
          registrar
        </button>
        <button
        [routerLink]="['/garantia/', consult.id,'Ver']"
          *ngIf="consult.garantia == 'registrada'"
          class="btn btn-success btn-sm"
        >
          Ver garantia
        </button>
        </td>
        <td>{{consult.estado}}</td>
        <td>
          <div class="row g-2">
            <div class="col-md">
              <button
                class="btn btn-success btn-sm"
                [routerLink]="['/editar-articulo/', consult.id, consult.tipo]"
              >
                editar
              </button>
            </div>
            <div class="col-md">
              <button
                class="btn btn-danger btn-sm"
                (click)="eliminar(consult.id)"
              >
                eliminar
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  </div>

  <div *ngIf="tipo==='proyectores'" class="table-responsive mt-4 container-md mx-auto">
  <table class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th>Modelo</th>
        <th>Marca</th>
        <th>Tipoentrada</th>
        <th>Costo</th>
        <th>Edificio</th>
        <th>Lugar_edificio</th>
        <th>Qr</th>
        <th>Garantia</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let consult of consultapro">
        <td>{{ consult.modelo }}</td>
        <td>{{ consult.marca }}</td>
        <td>{{ consult.tipoentrada }}</td>
        <td>{{ consult.costo | currency }}</td>
        <td>{{ consult.edificio }}</td>
        <td>{{ consult.lugar_edificio }}</td>
        <td>
          <button [routerLink]="['/generarQr/', consult.id]" *ngIf="consult.foto === '' || consult.foto === undefined || consult.foto === null; else descargarQr" class="btn btn-success btn-sm">
            Generar qr
           </button>
           <ng-template #descargarQr> <a class="btn btn-success btn-sm" target="_blank" href="{{consult.foto}}" >
             Visualizar Qr
            </a></ng-template>
        </td>
        <td>
          <button
            [routerLink]="['/garantia/', consult.id, 'Registrar']"
            *ngIf="consult.garantia == 'sin subir' || consult.garantia == null"
            class="btn btn-success btn-sm"
          >
            registrar
          </button>
          <button
          [routerLink]="['/garantia/', consult.id,'Ver']"
            *ngIf="consult.garantia == 'registrada'"
            class="btn btn-success btn-sm"
          >
            Ver garantia
          </button>
        </td>
        <td>{{consult.estado}}</td>
        <td>
          <div class="row g-2">
            <div class="col-md">
              <button
                class="btn btn-success btn-sm"
                [routerLink]="['/editar-articulo/', consult.id, consult.tipo]"
              >
                editar
              </button>
            </div>
            <div class="col-md">
              <button
                class="btn btn-danger btn-sm"
                (click)="eliminar(consult.id)"
              >
                eliminar
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  </div>

  <div *ngIf="tipo==='climas'" class="table-responsive mt-4 container-md mx-auto">
  <table class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th>Capacidad(ton)</th>
        <th>Capacidad(enfri)</th>
        <th>Modelo</th>
        <th>Consumo</th>
        <th>Costo</th>
        <th>Edificio</th>
        <th>Lugar_edificio</th>
        <th>Qr</th>
        <th>Garantia</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let consult of consultacl">
        <td>{{ consult.capacidadt }}</td>
        <td>{{ consult.capacidade }}</td>
        <td>{{ consult.modelo }}</td>
        <td>{{ consult.consumo }}</td>
        <td>{{ consult.costo | currency }}</td>
        <td>{{ consult.edificio }}</td>
        <td>{{ consult.lugar_edificio }}</td>
        <td>
          <button [routerLink]="['/generarQr/', consult.id]" *ngIf="consult.foto === '' || consult.foto === undefined || consult.foto === null; else descargarQr" class="btn btn-success btn-sm">
            Generar qr
           </button>
           <ng-template #descargarQr> <a class="btn btn-success btn-sm" target="_blank" href="{{consult.foto}}" >
             Visualizar Qr
            </a></ng-template>
        </td>
        <td>
          <button
            [routerLink]="['/garantia/', consult.id, 'Registrar']"
            *ngIf="consult.garantia == 'sin subir' || consult.garantia == null"
            class="btn btn-success btn-sm"
          >
            registrar
          </button>
          <button
          [routerLink]="['/garantia/', consult.id,'Ver']"
            *ngIf="consult.garantia == 'registrada'"
            class="btn btn-success btn-sm"
          >
            Ver garantia
          </button>
        </td>
        <td>{{consult.estado}}</td>
        <td>
          <div class="row g-2">
            <div class="col-md">
              <button
                class="btn btn-success btn-sm"
                [routerLink]="['/editar-articulo/', consult.id, consult.tipo]"
              >
                editar
              </button>
            </div>
            <div class="col-md">
              <button
                class="btn btn-danger btn-sm"
                (click)="eliminar(consult.id)"
              >
                eliminar
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>