<nav *ngIf="sesionac" class="navbar navbar-dark navbar-expand-lg bg-primary bg-opacity-75">
  <div class="container-fluid">
    <a class="navbar-brand fs-1" > <img src="https://d3g4v0cf6ioz32.cloudfront.net/itspozarica/Escudos/ae67f6b2_187d_42d8_8b83_8c36173590863.png" width="75" height="75"> Inventec</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-body fw-semibold fs-5" aria-current="page" [routerLink]="['/dashboard']" >Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body fw-semibold fs-5" [routerLink]="['/registrar-inventario']">Inventario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body fw-semibold fs-5" [routerLink]="['/reportes']">Reportes</a>
        </li>
        <li class="nav-item">
          <a *ngIf="tpusuario=='Administrador'" class="nav-link text-body fw-semibold fs-5" [routerLink]="['/usuarios']">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body fw-semibold fs-5" [routerLink]="['/scanearQr']">ScannerQr</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <a class="btn btn-outline-success-control  fw-semibold fs-5" >Bienvenido: {{nusuario}}</a>
        <button class="btn btn-success" (click)="logout()" type="submit">Cerrar Sesion</button>
      </form>
    </div>
  </div>
</nav>