<h1 class="h3 mb-3 fw-normal text-center mt-3">Bienvenido a Inventec</h1>
<div class="container-md border border-dark m-3 p-3 mx-auto">
    <h3>¿Que es Inventec?</h3>
    <p>Inventec es un proyecto con la finaldad de otorgar optimizacion al registro de los inmuebles
       que se usan en las instalaciones del INSTITUTO TECNOLOGICO SUPERIOR DE POZA RICA que puede ser
       usado por administrativos y alunmos para crear reportes sobre fallas de algun inmueble o verificar
       la ubicacion de estos.
    </p>

</div>
